<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Services</title>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px; display: inline-block;">
        <button>Home</button>
    </a>
    <a href="{{ url_for('user.index') }}" style="position: fixed; right: 70px; top: 10px; display: inline-block;">
        <button>User Dashboard</button>
    </a>
    

    <h1>Account Services</h1>
    <div class="container">
        <a href="{{ url_for('user.register_account') }}"><button>Create Account</button></a>
        <a href="{{ url_for('user.login') }}"><button>Log In</button></a>

    </div>
</body>
</html>
