<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perform Transaction</title>
    <style>
        .alert {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px; display: inline-block;">
        <button>Home</button>
    </a>
    <a href="{{ url_for('user.index') }}" style="position: fixed; right: 70px; top: 10px; display: inline-block;">
        <button>User Dashboard</button>
    </a>

    <a href="{{ url_for('user.afterlogin') }}"style="position: fixed; right: 190px; top: 10px; display: inline-block;"><button>Back</button></a>
    

    <h1>Perform a Transaction</h1>

    <!-- Display error message if exists -->
    {% if error %}
        <div class="alert">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">
        <label for="Amount">Transaction Amount:</label>
        <input type="number" id="Amount" name="Amount" required><br><br>

        <label for="TransactionAccountID">Account ID:</label>
        <input type="text" id="TransactionAccountID" name="TransactionAccountID" required><br><br>

        <label for="Description">Transaction Description:</label>
        <textarea id="Description" name="Description"></textarea><br><br>

        <button type="submit">Submit</button>
    </form>

    
</body>
</html>
