<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px;"><button>Home</button></a>

    <h1>Admin Dashboard</h1>
    <div style="display: flex;">
        <form action="/admin/view_all_accounts" method="get" style="padding-left: 2px; padding-right: 2px;">
            <button type="submit">View All Accounts</button>
        </form>
        <form action="/admin/approve_loan" method="get" style="padding-left: 2px; padding-right: 2px;">
            <button type="submit">Approve Loan Requests</button>
        </form>
        <form action="/admin/approve_credit_card" method="get" style="padding-left: 2px; padding-right: 2px;">
            <button type="submit">Approve Credit Card Requests</button>
        </form>
        <form action="/admin/view_all_transactions" method="get" style="padding-left: 2px; padding-right: 2px;">
            <button type="submit">View All Transactions</button>
        </form>
        <form action="/admin/view_all_customers" method="get" style="padding-left: 2px; padding-right: 2px;">
            <button type="submit">Analysis</button>
        </form>
        <form action="/admin/import_customers" method="get" style="padding-left: 2px; padding-right: 2px;">
            <button type="submit">Import Customer Data</button>
        </form>
        <a href="{{ url_for('home') }}" style="padding-left: 2px; padding-right: 2px;"><button>Logout</button></a>
    </div>  
    
</body>
</html>