<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After Login</title>
</head>
<body>
    <h1>Welcome, {{ session['AccountID'] }}</h1>
    <div>
        <a href="{{ url_for('user.check_balance') }}"><button>Check Account Balance</button></a>
        <a href="{{ url_for('user.check_transaction_record') }}"><button>Check Transaction Record</button></a>
        <a href="{{ url_for('user.add_transaction') }}"><button>Perform Transaction</button></a>
        <a href="{{ url_for('user.logout') }}"><button>Exit</button></a>

    </div>
</body>
</html>
