<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Dashboard</title>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px; display: inline-block;">
        <button>Home</button>
    </a>
    <a href="{{ url_for('user.index') }}" style="position: fixed; right: 70px; top: 10px; display: inline-block;">
        <button>User Dashboard</button>
    </a>
    
    <h1>Welcome to Your Card Dashboard</h1>
    <h2>Card ID: {{ card_id }}</h2>

    <div>
        <a href="{{ url_for('card.ctransactions') }}" method="get"><button type="submit">Search Transaction Records</button></a>
        <a href="{{ url_for('card.repayment') }}" method="get"><button type="submit">Repay Bills</button></a>
        <a href="{{ url_for('card.clogout') }}" method="get"><button type="submit" class="btn btn-danger">Logout</button></a>
    
    </div>

    <!-- Logout Button -->


</body>
</html>
