<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Login</title>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px; display: inline-block;">
        <button>Home</button>
    </a>
    <a href="{{ url_for('user.index') }}" style="position: fixed; right: 70px; top: 10px; display: inline-block;">
        <button>User Dashboard</button>
    </a>
    
    <h1>Card Login</h1>
    <form method="POST" action="{{ url_for('card.clogin') }}">
        <label for="CardID">Card ID:</label>
        <input type="text" id="CardID" name="CardID" required>
        <button type="submit">Login</button>
    </form>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}


</body>
</html>
