<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px; display: inline-block;">
        <button>Home</button>
    </a>
    <a href="{{ url_for('user.index') }}" style="position: fixed; right: 70px; top: 10px; display: inline-block;">
        <button>User Dashboard</button>
    </a>
    

    <h1>Customer Login</h1>

    <!-- Login Form -->
    <form action="/user/customer_login" method="POST">
        <label for="customer_id">Customer ID:</label>
        <input type="text" id="customer_id" name="CustomerID" required><br><br>
        <button type="submit">Login</button>
    </form>


</body>
</html>
