<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px;"><button>Home</button></a>

    <h1>Welcome to IMBank</h1>
    <div>
        <a href="{{ url_for('user.register_account') }}"><button>Register Account</button></a>

        <a href="{{ url_for('user.login') }}"><button>Login Account</button></a>
        <a href="{{ url_for('user.loan') }}"><button>Loans</button></a>
        <a href="{{ url_for('user.customer_login') }}"><button>Search Loans</button></a>
        <a href="{{ url_for('user.credit_card') }}"><button>Credit Card</button></a>
        <a href="{{ url_for('bank.branch_search') }}"><button>Branch Info</button></a>

    </div>
</body>
</html>
