<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px;"><button>Home</button></a>

    <h1>Welcome to IMBANK</h1>
    <div>
        <a href="{{ url_for('user.account') }}"><button>Account Services</button></a>
        <a href="{{ url_for('user.aboutbank') }}"><button>About Banks</button></a>
        <a href="{{ url_for('user.otherservice') }}"><button>Additional Services</button></a>
    </div>
</body>
</html>
