<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Payment</title>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px; display: inline-block;">
        <button>Home</button>
    </a>
    <a href="{{ url_for('user.index') }}" style="position: fixed; right: 70px; top: 10px; display: inline-block;">
        <button>User Dashboard</button>
    </a>
    

    <h1>Loan Payment</h1>

    {% if loan %}
        <p><strong>Loan ID:</strong> {{ loan[0] }}</p>
        <p><strong>Principal Amount:</strong> NTD{{ loan[1] }}</p>
        <p><strong>Interest Rate:</strong> {{ loan[2] }}%</p>
        <form action="/user/loan_payment" method="POST">
            <label for="PaymentAmount">Enter Payment Amount:</label>
            <input type="number" name="PaymentAmount" id="PaymentAmount" required>
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <p>No loan details found.</p>
    {% endif %}

    <p><a href="{{ url_for('user.search_loan') }}"><button>Loan Results</button></a></p>
</body>
</html>
