<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Services</title>
</head>
<body>
    <a href="{{ url_for('home') }}" style="position: fixed; right: 10px; top: 10px;"><button>Home</button></a>

    <h1>Other Services</h1>
    <div>
        <a href="{{ url_for('user.loan') }}"><button>Loans</button></a>
        <a href="{{ url_for('user.customer_login') }}"><button>Search Loans</button></a>
        <a href="{{ url_for('card.credit_card') }}"><button>Credit Card</button></a>
        <a href="{{ url_for('card.clogin') }}"><button>Credit Card Transactions History</button></a>
    </div>
    <div class="mt-2">
        <a href="{{ url_for('user.index') }}" class="btn btn-secondary btn-block">Back to User Index</a>
    </div>
    
</body>
</html>
